<%= form_with model: Comment.new, url: event_comment_path(event) do |form| %>
  <div class="field">
    <%= form.text_field :body, class: "form-control" %>
    <%= link_to "Cancel", events_path, class: "btn btn--light" %>
  </div>
<% end %>