<div class="event-detail ps-2">
  <div class="theme">
    <p class="mb-2"><%= event.details %></p>
  </div>
  <div class="more-details">
    <div>
      <p class="mb-2">Start date: <%= event.start_date%> End date: <%= event.end_date %></p>
      <p class="mb-2">Address: <%= event.address %></p>
    </div>
  </div>
</div>