<div class="p-2 card event-detail mx-auto">
  <div class="theme">
    <p class="mb-0 fs-6 "><%= event.details %></p>
  </div>
  <div class="more-details">
    <div>
      <p class="mb-0 fs-6 ">Start date: <%= event.start_date%> </p>
      <p class="mb-0 fs-6 ">End date: <%= event.end_date %></p>
      <p class="mb-0 fs-6 ">Address: <%= event.address %></p>
    </div>
  </div>
</div>