<%= turbo_frame_tag "show" do%>
  <div>
    <%= render partial: 'event_detail', locals: {event: @event } %>
    <div class="d-flex justify-content-start">
      <%= link_to 'close', event_path(@event), class: "detail-close d-block mx-auto" %>    
    </div>
  </div>
<% end %>

